<link type="text/css"  href="/public/style.css" rel="stylesheet">

#{extends 'main.html' /}
#{set title:'Station' /}
#{menu id:"dashboard"/}

#{list items:stations, as:'station'}
<section class="ui segment">
    <h2 class="ui header">
        ${station.name}
    </h2>
    <a href="/stations/${station.id}" class="ui icon button">
    <i class="icon folder open"></i>
    </a>
    <a href="/dashboard/${member.id}/deletestation/${station.id}" class="ui icon button">
        <i class="icon trash"></i>
    </a>
</section>
#{/list}
#{addstation /}